h1 {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

#profile-wrapper {
  text-align: center;
}

#logo-pic {
  float: left;
  width: 70px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

nav a {
  margin-left: 10px;
}

#medium-widget {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 15px;
}

.page-title {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}
