{% load static %}

<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Rahul D'Costa</title>

  <link href="{% static '/css/experience.css' %}" rel="stylesheet" type="text/css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@700&display=swap" rel="stylesheet">

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Rahul D'Costa</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'experience' %}">Experience</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'projskills' %}">Projects and Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'blog' %}">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'other' %}">Other</a>
      </li>
    </ul>
  </div>
</nav>

  <div class="page-title">
    <h1>Work Experience</h1>
  </div>

  <div class="card-group">
  <div class="card">
    <img class="card-img-top" src="{% static 'images/consulting-logo.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Software Engineer Intern @ Omviser</h5>
      <p class="card-text"><small class="text-muted">May 2020 - July 2020</small></p>
      <p class="card-text">At omviser, I designed, developed, and integrated a feature using Django that displayed application deadlines for universities chosen by the user using scraped data from university admissions pages, implemented the delivery of emails for verification of new users, changing passwords, and connection requests between mentors and mentees, and led final platform testing of website features, site consistency, and email delivery before initial release to the public.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{% static 'images/ios-app.png' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Software Engineer Intern @ Nihilent</h5>
      <p class="card-text"><small class="text-muted">June 2019 - July 2020</small></p>
      <p class="card-text">At Nihilent, I worked on an iOS application that implemented an image classification model that I created to detect shoe models using Core ML, Apple's machine learning framework. The application supports user login and taking pictures using the iPhone camera. Once a picture is taken, the image classification model detects the model of the shoe from the dataset. The application was developed using Swift on XCode and user authentication, analytics, and crash reports were handled on the backend by Firebase.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{% static 'images/umich-logo.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Tech Consultant @ University of Michigan ITS</h5>
      <p class="card-text"><small class="text-muted">December 2018 - Present</small></p>
      <p class="card-text">At the University of Michigan's Information Technology Services, I am responsible for assisting faculty, staff, and students with their usage of all technology provided in Campus Computing Sites facilities and services as well as personal device support.</p>
    </div>
  </div>
</div>
</body>
</html>
